    
    <div class="c-careers bg-green">
        <div class="o-container">
            <h2 class="o-section">Careers</h2>

            <div class="o-cols o-cols--2">
                <div class="o-cols__item">
                    <div class="o-article">
                        <p>Move your career forward. Your talent and personality fuel our success as a team. Be inspired and apply to join us online. We have our eyes firmly on the future, and we look forward to receiving your application.</p>

                        <p>&nbsp;</p>

                        <p><a href="mailto:HR@mfdrail.ch">HR@mfdrail.ch</a></p>
                    </div>
                </div>
                
                <div class="o-cols__item">
                    <ul class="c-careers__links">
                        <li>
                            <a href="#">linkedin</a>
                        </li>
                        
                        <li>
                            <a href="#">jobs.ch</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
