
    <div class="c-contact bg-green">
        <div class="o-container">
            <h2 class="o-section">Contact</h2>

            <div class="o-cols o-cols--2 o-cols--header">
                <div class="o-cols__item">
                    <header class="o-header">
                        <h2><span class="nowrap"><span>Get</span> closer</span><br>
                            to us</h2>
                    </header>
                </div>
                
                <div class="o-cols__item">
                    <div class="o-article">
                        <p>For all general inquiries please contact us via one of these channels.</p>
                    </div>
                </div>
            </div>
            
            <div class="o-cols o-cols--2 o-cols--map">
                <div class="o-cols__item">                    
                    <div class="o-cols">
                        <div class="o-cols__item">
                            <h3>Office</h3>
                        </div>
                        
                        <div class="o-cols__item">
                            <address>
                                <p>Grundstrasse 12</p>
                                <p>CH-6343</p>
                                <p>Rotkreuz</p>
                            </address>
                        </div>
                    </div>
                    
                    <div class="o-article">
                        <p>For specific information please use the contact data for each of the departments listed below</p>
                    </div>
                </div>
                
                <div class="o-cols__item">
                    <div class="c-map">
                        <img src=<%= require("./img/placeholders/map.png") %> alt="map" width="789" height="539">
                    </div>
                </div>
            </div>
            
            <div class="o-cols o-cols--2 o-cols--dropdown">
                <div class="o-cols__item">                    
                    <select>
                        <option>Sales</option>
                        <option>Operations</option>
                        <option>Finance</option>
                        <option>Fleet</option>
                        <option>Accounting</option>
                        <option>Technics</option>
                        <option>Administration</option>
                        
                    </select>
                </div>
                
                <div class="o-cols__item">
                    <address>
                        <p>Wolfram Bahle</p>
                        <p>&nbsp;</p>
                        <p><a href="mailto:wbahle@mfdrail.ch">wbahle@mfdrail.ch</a></p>
                        <p><a href="tel:004141531242">+41 41 531 24 2</a></p>

                    </address>
                    
                </div>
            </div>
        </div>
    </div>
    