
    <div class="c-details bg-gray js-serviceDetails">
        <div class="o-container">
            <h2 class="o-section">Our services</h2>

            <div class="o-wrap">    

                <div class="c-details__container">
                    <div class="c-details__models c-details__models--desktop">

                        <div class="c-details__header">
                            <p>none-mileage related services</p>
                            <p>mileage related services</p>
                        </div>
                        
                        <div class="c-details__accordion">
                            <h3 class="js-toggleDetails">Lease model</h3>
                            
                            <ol class="o-accordion js-accordion js-fadeInChildren">
                                
                                <li class="o-accordion__item">
                                    <header>
                                        <h4>Capital Lease</h4>
                                    </header>
                                    
                                    <div class="o-accordion__details">
                                        <section>
                                        </section>
                                    </div>
                                </li>
    
                                <li class="o-accordion__item js-item">
                                    <header>
                                        <h4>Base Lease <span class="click">(Click to see details)</span></h4>
                                        <h4>Event Flat Rate</h4>
                                    </header>

                                    <div class="o-accordion__details js-section">
                                        <section class="c-details__article">
                                            <h5>Lease model for our customers who are familiar with rail freight car maintenance and want to steer wheelset costs</h5>
                                            
                                            <p>&nbsp;</p>

<ul>
    <li>We take care of revision and wheelset maintenance</li>
    <li>The rental rate includestcosts for revision, the wheelset maintenance costs will be charged 
    separately – a flat rate per wheelset event</li>

    <li>You are in charge of all other required maintenance according to our maintenance manual, 
   for your account</li>
</ul>

<p>&nbsp;</p>

<p>Your benefit: You maintain the railcars within your network and with an event-based wheelset flat rate, you steer the refurbishment cycles and likewise your overall wheelset costs.</p>

                                            <i class="icon-close js-close"></i>
                                        </section>
                                        
                                        
                                    </div>
                                </li>
                                
                                <li class="o-accordion__item js-item">
                                    <header>
                                        <h4>BaseBase Lease Plus <span class="click">(Click to see details)</span></h4>
                                    </header>
                                    
                                    <div class="o-accordion__details js-section">
                                        <section class="c-details__article">
                                            <h5>Lease model for our customers who are familiar with rail freight car maintenance and want to steer wheelset costs</h5>
                                            
                                            <p>&nbsp;</p>

<ul>
    <li>We take care of revision and wheelset maintenance</li>
    <li>The rental rate includestcosts for revision, the wheelset maintenance costs will be charged 
    separately – a flat rate per wheelset event</li>

    <li>You are in charge of all other required maintenance according to our maintenance manual, 
   for your account</li>
</ul>

<p>&nbsp;</p>

<p>Your benefit: You maintain the railcars within your network and with an event-based wheelset flat rate, you steer the refurbishment cycles and likewise your overall wheelset costs.</p>

                                            <i class="icon-close js-close"></i>
                                        </section>
                                    </div>
                                </li>
                                
                                <li class="o-accordion__item js-item">
                                    <header>
                                        <h4>Comfort Lease <span class="click">(Click to see details)</span></h4>
                                    </header>
                                    
                                    <div class="o-accordion__details js-section">
                                        <section class="c-details__article">
<h5>Lease model for our customers who are familiar with rail freight car maintenance and want to steer wheelset costs</h5>

<p>&nbsp;</p>

<ul>
<li>We take care of revision and wheelset maintenance</li>
<li>The rental rate includestcosts for revision, the wheelset maintenance costs will be charged 
separately – a flat rate per wheelset event</li>

<li>You are in charge of all other required maintenance according to our maintenance manual, 
for your account</li>
</ul>

<p>&nbsp;</p>

<p>Your benefit: You maintain the railcars within your network and with an event-based wheelset flat rate, you steer the refurbishment cycles and likewise your overall wheelset costs.</p>

                                            <i class="icon-close js-close"></i>
                                        </section>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        
                        <div class="c-details__levels">
                            
                            <h3>Service -level</h3>

                            <ul>
                                <li>
                                    <h4>Usage of Railcar</h4>
                                </li>
                                
                                <li>
                                    <h4>Keepership</h4>
                                    <h4>Entity in Charge<br> of Maintenance</h4>
                                    <h4>Overhaul Management</h4>
                                </li>
                                
                                <li>
                                    <h4>Wheelset Management</h4>
                                    <h4>Maintenance Management</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="c-details__models c-details__models--mobile">

                        <div class="swiper-container js-servicestSlider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide--1">

                                   <div class="o-cols o-cols--header">
                                        <div class="o-cols__item">
                                            <h3 class="js-toggleDetails">Lease model</h3>
                                        </div>
                                        
                                        <div class="o-cols__item">
                                            <h3>Service level</h3>
                                        </div>
                                    </div>
                        
                                    <div class="row row--1">
                                        <div class="c-details__header">
                                            <p>mileage related services</p>
                                        </div>
                                        
                                        <div class="o-cols o-cols--a">
                                            <div class="o-cols__item">
                                                <header>
                                                    <h4>Capital Lease</h4>
                                                </header>
                                            </div>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Usage of Railcar</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--b">
                                            <div class="o-cols__item">
                                                <header>
                                                    <h4>Base Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </div>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Keepership</h4>
                                                    
                                                    <h4>Entity in Charge of&nbsp;Maintenance</h4>
                                                    
                                                    <h4>Overhaul Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row row--2">
                                        <div class="c-details__header">
                                            <p>none-mileage related services</p>
                                        </div>

                                        <div class="o-cols o-cols--c">
                                            <div class="o-cols__item">
                                                <header>
                                                    <h4>Base Lease Plus <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </div>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Wheelset Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--d">
                                            <div class="o-cols__item">
                                                <header>
                                                    <h4>Comfort Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </div>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Maintenance Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="swiper-slide swiper-slide--2">
                                                                            
                                   <div class="o-cols o-cols--header">
                                        <div class="o-cols__item">
                                            <h3 class="js-toggleDetails">Lease model</h3>
                                        </div>
                                        
                                        <div class="o-cols__item">
                                            <h3>Service level</h3>
                                        </div>
                                    </div>
                        
                                    <div class="row row--1">
                                        <div class="c-details__header">
                                            <p>mileage related services</p>
                                        </div>
                                        
                                        <div class="o-cols o-cols--a">
                                            <a href="#details-base-lease" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Capital Lease</h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item o-cols__item--level">
                                                <div class="c-details__levels">
                                                    <h4>Usage of Railcar</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--b">
                                            <a href="#details-base-lease" class="js-inline glightbox o-cols o-cols--header">
                                                <header>
                                                    <h4>Base Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Keepership</h4>
                                                    
                                                    <h4>Entity in Charge of&nbsp;Maintenance</h4>
                                                    
                                                    <h4>Overhaul Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row row--2">
                                        <div class="c-details__header">
                                            <p>none-mileage related services</p>
                                        </div>

                                        <div class="o-cols o-cols--c">
                                            <div class="o-cols__item">
                                                <header>
                                                    <h4>Base Lease Plus <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </div>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Wheelset Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--d">
                                            <div class="o-cols__item">
                                                <header>
                                                    <h4>Comfort Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </div>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Maintenance Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="swiper-slide swiper-slide--3">
                                                                            
                                   <div class="o-cols o-cols--header">
                                        <div class="o-cols__item">
                                            <h3 class="js-toggleDetails">Lease model</h3>
                                        </div>
                                        
                                        <div class="o-cols__item">
                                            <h3>Service level</h3>
                                        </div>
                                    </div>
                        
                                    <div class="row row--1">
                                        <div class="c-details__header">
                                            <p>mileage related services</p>
                                        </div>
                                        
                                        <div class="o-cols o-cols--a">
                                            <a href="#details-base-lease-plus" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Capital Lease</h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item o-cols__item--level">
                                                <div class="c-details__levels">
                                                    <h4>Usage of Railcar</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--b">
                                            <a href="#details-base-lease-plus" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Base Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Keepership</h4>
                                                    
                                                    <h4>Entity in Charge of&nbsp;Maintenance</h4>
                                                    
                                                    <h4>Overhaul Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row row--2">
                                        <div class="c-details__header">
                                            <p>none-mileage related services</p>
                                        </div>

                                        <div class="o-cols o-cols--c">
                                            <a href="#details-base-lease-plus" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Base Lease Plus <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Wheelset Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--d">
                                            <div class="o-cols__item">
                                                <header>
                                                    <h4>Comfort Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </div>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Maintenance Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="swiper-slide swiper-slide--4">
                                                                            
                                   <div class="o-cols o-cols--header">
                                        <div class="o-cols__item">
                                            <h3 class="js-toggleDetails">Lease model</h3>
                                        </div>
                                        
                                        <div class="o-cols__item">
                                            <h3>Service level</h3>
                                        </div>
                                    </div>
                        
                                    <div class="row row--1">
                                        <div class="c-details__header">
                                            <p>mileage related services</p>
                                        </div>
                                        
                                        <div class="o-cols o-cols--a">
                                            <a href="#details-comfort-lease" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Capital Lease</h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item o-cols__item--level">
                                                <div class="c-details__levels">
                                                    <h4>Usage of Railcar</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--b">
                                            <a href="#details-comfort-lease" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Base Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Keepership</h4>
                                                    
                                                    <h4>Entity in Charge of&nbsp;Maintenance</h4>
                                                    
                                                    <h4>Overhaul Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row row--2">
                                        <div class="c-details__header">
                                            <p>none-mileage related services</p>
                                        </div>

                                        <div class="o-cols o-cols--c">
                                            <a href="#details-comfort-lease" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Base Lease Plus <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Wheelset<br> Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols o-cols--d">
                                            <a href="#details-comfort-lease" class="o-cols__item glightbox js-inline">
                                                <header>
                                                    <h4>Comfort Lease <span class="click">(Click to see details)</span></h4>
                                                </header>
                                            </a>
                                            
                                            <div class="o-cols__item">
                                                <div class="c-details__levels">
                                                    <h4>Maintenance<br> Management</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <nav class="o-nav">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </nav>
                        </div>
                        
                        <div class="c-details__levels" style="display: none">                            

                            <ul>
                                <li>
                                    <h4>Usage of Railcar</h4>
                                </li>
                                
                                <li>
                                    <h4>Keepership</h4>
                                    <h4>Entity in Charge<br> of Maintenance</h4>
                                    <h4>Overhaul Management</h4>
                                </li>
                                
                                <li>
                                    <h4>Wheelset Management</h4>
                                    <h4>Maintenance Management</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        
        <div class="c-details__popups">

            <div id="details-base-lease" style="display: none">
                <div class="inline-inner inline-inner--gray">
                    <div class="c-details__article">
<h5>Lease model</h5>

<p>&nbsp;</p>
<p>for our customers who are familiar with rail freight car maintenance and want to steer wheelset costs</p>

<p>&nbsp;</p>

<ul>
    <li>We take care of revision and wheelset maintenance</li>
    <li>The rental rate includestcosts for revision, the wheelset maintenance costs will be charged 
    separately – a flat rate per wheelset event</li>

    <li>You are in charge of all other required maintenance according to our maintenance manual, 
   for your account</li>
</ul>

<p>&nbsp;</p>

<p>Your benefit: You maintain the railcars within your network and with an event-based wheelset flat rate, you steer the refurbishment cycles and likewise your overall wheelset costs.</p>

                    </div>
                    
                    <a class="gtrigger-close icon-close" href="#"></a>
                </div>
            </div>


            <div id="details-base-lease-plus" style="display: none">
                <div class="inline-inner inline-inner--gray">
                    <div class="c-details__article">

<h5>Lease model</h5>

<p>&nbsp;</p>
<p>for our customers who are familiar with rail freight car maintenance and want to steer wheelset costs</p>
                                            
<p>&nbsp;</p>

<ul>
    <li>We take care of revision and wheelset maintenance</li>
    <li>The rental rate includestcosts for revision, the wheelset maintenance costs will be charged 
    separately – a flat rate per wheelset event</li>

    <li>You are in charge of all other required maintenance according to our maintenance manual, 
   for your account</li>
</ul>

<p>&nbsp;</p>

<p>Your benefit: You maintain the railcars within your network and with an event-based wheelset flat rate, you steer the refurbishment cycles and likewise your overall wheelset costs.</p>

                    </div>

                    <a class="gtrigger-close icon-close" href="#"></a>
                </div>
            </div>            
        

            <div id="details-comfort-lease" style="display: none">
                <div class="inline-inner inline-inner--green">
                    <div class="c-details__article">

<h5>Lease model</h5>

<p>&nbsp;</p>
<p>for our customers who are familiar with rail freight car maintenance and want to steer wheelset costs</p>

<p>&nbsp;</p>

<ul>
<li>We take care of revision and wheelset maintenance</li>
<li>The rental rate includestcosts for revision, the wheelset maintenance costs will be charged 
separately – a flat rate per wheelset event</li>

<li>You are in charge of all other required maintenance according to our maintenance manual, 
for your account</li>
</ul>

<p>&nbsp;</p>

<p>Your benefit: You maintain the railcars within your network and with an event-based wheelset flat rate, you steer the refurbishment cycles and likewise your overall wheelset costs.</p>
                    </div>

                    <a class="gtrigger-close icon-close" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    