
    <div class="c-esg1 bg-gray">
        <h2 class="o-section">ESG</h2>
        
        <div class="o-cols o-cols--2">
            <div class="o-cols__item">
                <img src=<%= require("./img/esg/trains.jpg") %> alt="trains" width="945" height="725">
            </div>
            
            <div class="o-cols__item">
                <article class="o-article">
                    <header class="o-header o-header--block o-header--bottom">
                        <h2>We are
                            <span>sustainable</span>
                        </h2>
                    </header>
                    
                    <p>We support the European Rail Freight Vision 2030 of the Rail Freight Forward Initiative, which sets a target of increasing rail transport in European freight transport to 30% by 2030 – up from its current level of around 18%.</p>
                </article>
            </div>
        </div>        
    </div>
