
    <div class="c-esg2 bg-gray">
        <div class="o-container">
            <h2 class="o-section">ESG</h2>

            <div class="o-wrap">
                <div class="o-cols o-cols--2 o-cols--first">
                    <div class="o-cols__item">
                        <header class="o-header">
                            <h2>We are
                                <span>esg</span>
                            </h2>
                        </header>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>We are committed to ensuring that our business is environmentally responsible, energy-efficient, carbon-neutral, and makes its best effort to achieve continuous improvements.</p>
                        </div>
                    </div>
                </div>
                
                <div class="o-cols o-cols--2 o-cols--second">
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>We ensure proper labor and working conditions, safeguard the health and safety of our employees, and promote diversity as well as social development of the community in which we operate.</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>We comply with all applicable laws including those laws and best practice standards intended to prevent extortion, bribery, and financial crime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
