
    <div class="c-fleet1 bg-gray js-point" id="fleet">
        <div class="o-container">
            <h2 class="o-section">Fleet</h2>

            <div class="o-wrap o-wrap--1">
                
                <header class="o-header o-header--desktop">
                    <h2>We are <span>intermodal</span></h2>
                </header>
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        
                        <header class="o-header o-header--mobile">
                            <h2>We are <span>intermodal</span></h2>
                        </header>
                        
                        <div class="o-article">
                            <p>We build a homogenous and modern portfolio consisting of new, high-quality, and noise-reduced railcars for intermodal transportation.</p>
                            
                            <p>&nbsp;</p>
    
                            <p>As the pure play intermodal specialist, we know what we are talking about.</p>
                            
                            <p>&nbsp;</p>

                            <p>We are committed to highest level of support, availability and customer service.</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                       <img src=<%= require("./img/fleet/train.jpg") %> alt="train" width="945" height="672">
                    </div>
                </div>
            </div>
        </div>
    </div>
