
    <footer class="c-footer">
        <div class="o-container">
            <h2 class="o-section">
                <img src=<%= require("./img/logos/mfd--simple--white.svg") %> width="125" height="50" alt="mfd">
            </h2> 

            <div class="o-wrap o-wrap--2">
                <div class="o-cols o-cols--4">
                    <div class="o-cols__item">
                        <p><strong>MFD Rail GmbH</strong></p>
                    </div>
                    
                    <div class="o-cols__item">
                       <address>
                            <p>Grundstrasse 12</p>
                            <p>CH-6343 Rotkreuz</p>
                       </address>
                    </div>
                    
                    <div class="o-cols__item">
                        <p>O/ <a href="tel:0041415312424">+41 41 531 24 24</a></p>
                        <p>E/ <a href="mailto:info@mfdrail.ch">info@mfdrail.ch</a></p>
                    </div>
                    
                    <div class="o-cols__item">
                       <p><a href="#">LINKEDIN</a>/ <a href="#">MFD Rail</a></p>
                    </div>
                </div> 


                <div class="o-cols o-cols--2">
                    <div class="o-cols__item o-cols__item--copyrights">
                        <p>Copyright &copy 2021 MFD Rail GmbH.</p>
                        <p>All Rights Reserved</p>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--links">
                        <div class="o-cols o-cols--2">
                            <div class="o-cols__item o-cols__item--nav">
                                <nav class="c-footer__nav">
                                    <ul>
                                        <li>
                                            <a href="#">Term of Use</a>
                                        </li>
                                        
                                        <li>
                                            <a href="#">Privacy Information Notice</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                                
                            <div class="o-cols__item o-cols__item--design">
                                <p class="c-footer__design">
                                    <a href="https://morgenstudio.de/pl/" rel="noopener" target="_blank">Design by MORGEN</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
