
    <div class="c-hero js-point bg-gray" id="hero">
        <div class="c-hero__lead o-header">
            <h1>
                Modal
                <span>Flexible</span>
                Digital
            </h1>
        </div>

        <div class="c-hero__image">
            <div class="c-hero__dashes"></div>
            
            
            <div class="c-hero__img">
                <img src=<%= require("./img/hero/campbell.jpg") %> alt="campbell" width="940" height="860">
            </div>
        </div>
    </div>
