
    <div class="c-membership bg-gray js-point" id="membership">
        <div class="o-container">
            <h2 class="o-section">Membership</h2> 

            <div class="o-wrap">
                <header class="o-header o-header--block o-header--bottom">
                    <h2>Being part of<br>
                        is <span>priceless</span></h2>
                </header>                
            </div>
            
            <div class="o-cols o-cols--4">
                <div class="o-cols__item">
                    <figure>
                        <div>
                            <img src=<%= require("./img/logos/vap.svg") %> width="251" height="91" alt="vap">
                        </div>

                        <figcaption>Association representing the wagon<br> keeper’s interest</figcaption>
                    </figure>
                </div>
                
                <div class="o-cols__item">
                    <figure>
                        <div>
                            <img src=<%= require("./img/logos/rsrd.svg") %> width="269" height="89" alt="rsrd">
                        </div>

                        <figcaption>Rolling Stock Reference Database</figcaption>
                    </figure>
                </div>
                
                <div class="o-cols__item">
                    <figure>
                        <div>
                            <img src=<%= require("./img/logos/uirr.svg") %> width="148" height="141" alt="uirr">
                        </div>

                        <figcaption>Union International Rail Road</figcaption>
                    </figure>
                </div>
                
                <div class="o-cols__item">
                    <figure>
                        <div>
                            <img src=<%= require("./img/logos/gcu.svg") %> width="344" height="78" alt="gcu">
                        </div>

                        <figcaption>General Contract of Use for wagons</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
