
        <nav class="c-nav js-nav">
            <ul class="c-nav__menu js-menu">
                <li>
                    <a href="#about">About</a>
                </li>
                
                <li class="current-item">
                    <a href="#fleet">Fleet</a>
                </li>
                
                <li>
                    <a href="#services">Services</a>
                </li>
                
                <li>
                    <a href="#membership">Memberships</a>
                </li>
                
                <li>
                    <a href="#career">Career</a>
                </li>
            </ul>
            
            <ul class="c-nav__lang">
                <li class="current-item">
                    <a href="#">en</a>
                </li>
                
                <li>
                    <a href="#">de</a>
                </li>
            </ul>
        </nav>
