
    <div class="c-partnership bg-green js-point" id="partnership">
        <div class="o-container">
            <h2 class="o-section">Partnership</h2>

            <div class="o-cols o-cols--2_3">
                <div class="o-cols__item o-cols__item--image">
                    <img src=<%= require("./img/partnership/circles.svg") %> alt="circles" width="514.48" height="486.74">
                </div>
                
                <div class="o-cols__item o-cols__item--text">                        
                    <article class="o-article">
                        <header class="o-header">
                            <h2>We are well
                                <span>capitalized</span>
                            </h2>
                        </header>
                        
                        <p>MFD Rail, Oaktree Capital Management, L.P., and KfW IPEX-Bank have partnered to develop a leading rail car leasing company in the intermodal wagon segment over the next years.</p>
                    </article>
                </div>
            </div>
            
            <ul class="c-partnership__logotypes">
                <li>
                    <figure>
                        <div>
                            <img src=<%= require("./img/logos/oaktree.png") %> alt="oaktree" width="436" height="114">
                        </div>

                        <figcaption>$150 bn assets under management, industry leading Private Equity House with significant rail experience.</figcaption>
                    </figure>
                </li>
                
                <li>
                    <figure>
                        <div>
                            <img src=<%= require("./img/logos/mfd--black.svg") %> alt="mfdrail" width="498" height="68.65">
                        </div>
                        
                        <figcaption>Over 75 years of joint industry expertise.</figcaption>
                    </figure>
                </li>
                
                <li>
                    <figure>
                        <div>
                            <img src=<%= require("./img/logos/kfw.svg") %> alt="kfw">
                        </div>
                        
                        <figcaption>Leading lender with profound sector expertise.</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
