
    <ul class="o-scrollbar js-scrollbar">
        <li class="js-scrollbarpoint vision"></li>
        <li class="js-scrollbarpoint partnership"></li>
        <li class="js-scrollbarpoint usps"></li>
        <li class="js-scrollbarpoint team"></li>
        <li class="js-scrollbarpoint esg"></li>
        <li class="js-scrollbarpoint value0"></li>
        <li class="js-scrollbarpoint fleet"></li>
        <li class="js-scrollbarpoint services"></li>
        <li class="js-scrollbarpoint membership"></li>
        <li class="js-scrollbarpoint contact"></li>
    </ul>
