
    <div class="c-services bg-gray" id="services">
        <div class="o-container">
            <h2 class="o-section">Our services</h2>

            <div class="o-wrap">    
                <div class="o-cols o-cols--header">
                    <div class="o-cols__item">
                        <div class="c-services__lead">
                            <div class="o-article">
                                <p>No matter what you’re shipping, we have the solution that meets your needs.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                    </div>
                </div>
                
                <div class="o-cols o-cols--services o-tabs js-tabs">
                    <div class="o-cols__item">
                        <ul class="o-tabs__nav js-nav">
                            <li class="js-tab is-active">Lease models</li>
                            <li class="js-tab">Flex modules</li>
                            <li class="js-tab">ECM</li>
                        </ul>
                    </div>
                    
                    <div class="o-cols__item">
                        <ul class="o-tabs__content js-content">
                            <li class="js-tab is-active is-visible">
                                <article class="o-article">
                                    <p>Benefit from highly available and reliable railcars, low maintenance costs, regulatory compliant fleet fulfilling the latest safety standards.</p>
                                
<p>Enjoy lease cost transparency, no hidden margins, flexibility options to reduce your exposure in matching supply and demand of railcars.</p>

                                    <p>&nbsp;</p>

                                    <h4>Base</h4>
                                    <h4>Base Plus</h4>
                                    <h4>Comfort</h4>
                                </article>
                                
                                <a href="#" class="o-morebtn o-morebtn--gray1 js-toggleDetails">
                                    <span>Check details</span>
                                </a>
                            </li>
                            
                            <li class="js-tab">
                                <article class="o-article">
                                    <p>Enjoy the freedom of flexibility. With our modules “breathe”, “relax”, and “exit” we provide you with the security and safety you need for concentrating on your core business. Whatever changes your business, we have a solution to give you flexibility.</p>

                                    <p>&nbsp;</p>

                                    <h4>Breathe</h4>
                                    <h4>Relax</h4>
                                    <h4>Exit</h4>
                                </article>
                            </li>
                            
                            <li class="js-tab">
                                <article class="o-article">
                                    <h2>ECM – ENTITY IN
CHARGE OF MAINTENANCE</h2>

                                    <p>As certified ECM for railcars according to EU regulations and registered as responsible ECM in ERADIS (European Railway Agency Database of Interoperability and Safety) we ensure the maintenance of railcars under applicable regulations. As the registered keeper and GCU signatory, MFD Rail assumes the responsibility of the keeper for all its railcars. In addition to the maintenance management function (ECM I), we independently realize the maintenance development function (ECM II) as well as the fleet maintenance management function (ECM III).</p>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
