
    <div class="c-team bg-gray js-point" id="team">
        <div class="o-container">
            <h2 class="o-section">Team</h2>

            <div class="o-cols">
                <div class="o-cols__item o-cols__item--text">
                    <h3>We are<br> 
                    passionate<br>
                    about your<br>
                    success.
                    </h3>
                </div>
                
                <div class="o-cols__item ">
                    <ul class="c-team__people">
                        <li>
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/team/fabian.jpg") %> alt="fabian" width="307" height="497">
                                </div>
                                
                                <figcaption>
                                    <p>FABIAN STADLER</p>
                                    <p>CEO / Managing Partner</p>
                                </figcaption>
                            </figure>
                        </li>
                        
                        <li>
                            <figure>
                                <div class="photo">
                                    <img src=<%= require("./img/team/detlef.jpg") %> alt="detlef" width="307" height="497">
                                </div>
                                
                                <figcaption>
                                    <p>DETLEF<br> SCHLICKELMANN</p>
                                    <p>COO / Managing Partner</p>
                                </figcaption>
                            </figure>
                        </li>
                        
                        <li>
                            <figure>
                                <span class="photo">
                                    <img src=<%= require("./img/team/wolfram.jpg") %> alt="wolfram" width="307" height="497">
                                </span>
                                
                                <figcaption>
                                    <p>WOLFRAM BAHLE</p>
                                    <p>CSO / Managing Partner</p>
                                </figcaption>
                            </figure>
                        </li>

                        <li>
                            <figure>
                                <span class="photo">
                                    <img src=<%= require("./img/team/markus.jpg") %> alt="markus" width="307" height="497">
                                </span>
                                
                                <figcaption>
                                    <p>MARKUS BASLER</p>
                                    <p>CFO / Managing Partner</p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
