
    <div class="c-topbar js-topbar">
        <div class="o-container">
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/logos/mfd--white.svg") %> alt="mfdrail" class="desktop">
                <img src=<%= require("./img/logos/mfd--simple.svg") %> alt="mfdrail" class="mobile">
            </a>
            
            <% include nav %>
            
            <div class="o-hamburger js-hamburger"></div>
        </div>
    </div>
