
    <div class="c-topbar js-topbar">
        <div class="o-container">
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/logos/mfd--white.svg") %> alt="mfdrail" class="desktop desktop--white">
                <img src=<%= require("./img/logos/mfd--black.svg") %> alt="mfdrail" class="desktop desktop--black">
                <img src=<%= require("./img/logos/mfd--simple--white.svg") %> alt="mfdrail" class="mobile mobile--white">
                <img src=<%= require("./img/logos/mfd--simple--black.svg") %> alt="mfdrail" class="mobile mobile--black">
            </a>
            
            <% include nav %>
            
            <div class="o-hamburger js-hamburger"></div>
        </div>
    </div>
