
    <div class="c-usps bg-gray js-point" id="usps">
        <div class="o-container">
            <h2 class="o-section">Usps</h2> 

            <div class="o-cols o-cols--2_3 o-cols--reverse">
                <div class="o-cols__item o-cols__item--image">
                    <img src=<%= require("./img/usps/symbol.svg") %> width="431" height="518.2911376953125" alt="symbol">
                </div>
                
                <div class="o-cols__item o-cols__item--text">
                    <article class="o-article">
                        <header class="o-header o-header--block o-header--top">
                            <h2>Dare to be
                                <span>different</span>
                            </h2>
                        </header>
                        
                        <p>We understand that the world is constantly changing. We are never satisfied with repeating today, what made us successful yesterday. With our heads turned towards the future, we remain prepared to keep on changing, courageous and surprising.</p>
                    </article>
                </div>
            </div>            
        </div>

        <div class="o-hscroll">
            <ul class="o-hscroll__marquee o-hscroll__marquee--1">
                <li>
                  <span>Fresh blood</span> <span>Greenfield approach</span> <span>Expertise</span> <span>Pure play intermodal</span> <span>Flexible leases</span>
                  <span>Fresh blood</span> <span>Greenfield approach</span> <span>Expertise</span> <span>Pure play intermodal</span> <span>Flexible leases</span>
                </li>
            </ul>
            
<!--
            <ul class="o-hscroll__marquee o-hscroll__marquee--2">
                <li>
                    <span>Fresh blood</span> <span>Greenfield approach</span> <span>Expertise</span> <span>Pure play intermodal</span> <span>Flexible leases</span>
                    <span>Fresh blood</span> <span>Greenfield approach</span> <span>Expertise</span> <span>Pure play intermodal</span> <span>Flexible leases</span>
                </li>
            </ul>
-->
        </div>
    </div>
