
    <div class="c-value1 bg-gray">
        <div class="o-container">
            <h2 class="o-section">Value proposition</h2>

            <div class="o-wrap o-wrap--2 o-wrap--desktop">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <header class="o-header">
                            <h2>Reach<br>
                                <span>further</span>
                            </h2>
                        </header>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Lease out modern, safe, and high-quality intermodal wagons to customers.
Bring transparency and flexibility into leasing and maintenance concepts.</p>
                        </div>
                    </div>
                </div>
                
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Represent the preferred alternative to the lessor market.</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Standardized fleet, automated processes, and a highly scalable organization lead to low transaction costs and hence competitive pricing.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="o-wrap o-wrap--2 o-wrap--mobile">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <header class="o-header o-header--block o-header--top">
                            <h2>Reach<br>
                                <span>further</span>
                            </h2>
                        </header>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>Represent the preferred alternative to the lessor market.</p>
                            
                            <p>Lease out modern, safe, and high-quality intermodal wagons to customers.
Bring transparency and flexibility into leasing and maintenance concepts.</p>

                            <p>Standardized fleet, automated processes, and a highly scalable organization lead to low transaction costs and hence competitive pricing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
