
    <div class="c-value0 js-point" id="value0">
        <h2 class="o-section">Value proposition</h2>

        <div class="c-value0__photo">
            <i></i>
            <img src=<%= require("./img/value/landscape.jpg") %> alt="landscape" width="1929" height="860">
        </div>
    </div>
