
    <div class="c-value2 bg-gray--light">
        <div class="o-container">
            <h2 class="o-section">Value proposition</h2>

            <div class="c-value2__slidebg">
                <div class="swiper-container js-valueBgSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url(img/value/slide-m.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(img/value/slide-f.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(img/value/slide-d.jpg)"></div>
                    </div>
                </div>
            </div>  
            
            <div class="c-value2__slidecontent">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item"></div>
                    
                    <div class="o-cols__item">
                        <div class="swiper-container js-valueContentSlider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <h3>Modal</h3>
                                    
                                    <dl>
                                        <dt>Intermodal</dt>
                                        <dd>Improving the modal split for rail with modern intermodal railcars.</dd>
                                    </dl>
                                    
                                    <dl>
                                        <dt>Multimodal</dt>
                                        <dd>Multimodal transport chains with different traffic modes.</dd>
                                    </dl>

                                    <dl>
                                        <dt>Modal Split</dt>
                                        <dd>Modern intermodal railcars like 60’, 80’, 90’ container flats, double pocket railcars, and other railcar types.</dd>
                                    </dl>
                                </div>
                                
                                <div class="swiper-slide">
                                    <h3>Flexible</h3>
 
                                    <dl>
                                        <dt>Flexible Leases</dt>
                                        <dd>Attractively priced lease concepts based on different lease models in combination with flex modules.</dd>
                                    </dl>

                                    <dl>
                                        <dt>Flex Modules</dt>
                                        <dd>Premium customers with long-term, volume-based lease contracts can combine our lease models with a flex module of their choice.</dd>
                                    </dl>
                                </div>

                                <div class="swiper-slide">
                                    <h3>Digital</h3>
                                    
                                    <dl>
                                        <dt>Digital Interchange</dt>
                                        <dd>24/7 connected railcar fleet delivering real-time operational and condition-based data.</dd>
                                    </dl>

                                    <dl>
                                        <dt>Digital Processes</dt>
                                        <dd>Digital, workflow-driven end-to-end processes.</dd>
                                    </dl>

                                    <dl>
                                        <dt>Digitized</dt>
                                        <dd>Customer and Supplier systems integrations on all touchpoints with MFD Rail.</dd>
                                    </dl>
                                </div>
                            </div>
                            
                            <nav class="o-nav">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="c-value2__chars step-0 js-valuechars">
                <li>m</li>
                <li>f</li>
                <li>d</li>
            </ul>
        </div>        
    </div>
