
    <div class="c-vision2 bg-gray js-vision" id="vision2">
        <div class="o-container"> 
            <h2 class="o-section">Vision &amp; Values</h2>
           
            <div class="o-wrap o-wrap--2">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <div class="o-article">
                            <p>What we stand for as a company.</p>
                        </div>
                        
                        <ol class="c-vision2__slogans js-slogans">
                            <li class="is-active">Customer-first</li>
                            <li>Passion</li>
                            <li>Excellence</li>
                            <li>Transparency</li>
                            <li>Sustainability</li>
                            <li>Safety</li>
                            <li>Integrity</li>                            
                        </ol>
                    </div>

                    <div class="o-cols__item">
                        <ul class="c-vision2__info js-info">
                            <li class="is-active is-visible">
                                <p>We consider our customers in everything we do. Going the extra mile is a matter of course to us.</p>
                            </li> 
                            
                            <li>
                                <p>We care about what we do and how we do it. Every day, we use our passion for progress to address today’s and tomorrow’s challenges.</p>
                            </li>  
                            
                            <li>
                                <p>We are doing things with due consideration both for intent and impact and aiming to close the gap between them.</p>
                            </li>
                            
                            <li>
                                <p>We speak our mind, contribute authentically with pure motives.</p>
                            </li>
                            
                            <li>
                                <p>We are continuously rethinking our approach to the way we do business. We do not just think about tomorrow, but way beyond.</p>
                            </li>

                            <li>
                                <p>Safety is not just a priority at MFD Rail, but a deeply held core value.</p>
                            </li>

                            <li>
                                <p>We work with integrity in everything we do and act responsibly, reliably, respectfully, and live up to our standards.</p>
                            </li>
                        </ul>
                    </div>
                </div>               
            </div>
        </div>
    </div>
