
    <div class="c-vision1 bg-gray" id="about">
        <div class="o-container"> 
            <h2 class="o-section">Vision &amp; Values</h2>
           
            <div class="o-wrap o-wrap--2">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <header class="o-header o-header--block o-header--top">
                            <h2>
                                <span class="nowrap">Our vision</span><br>
                                is <span>your</span>
                                horizon
                            </h2>
                        </header>
                        
                        <div class="o-article">
                            <p>As a team of intermodal specialists, we provide a modern, highly available intermodal railcar fleet and are one of the best-capitalized and most sustainable start-ups in the sector. We are committed to providing the highest level of support, technological availability, and service to our customers.</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item o-cols__item--image">
                        <img src=<%= require("./img/vision/eye.svg") %> width="608" alt="eye">
                    </div>
                </div>               
            </div>
        </div>
    </div>
