.o-hscroll {
    @extend %rel;

    &__marquee {
        //margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        width: 200%;
        animation: marquee 20s linear infinite;
        
        li {
            display: inline-block;
            //padding-left: 100%;    
            
            line-height: 1em;
            font-size: rem(39);

            @media ( max-width: $base + px ) {
            	@include responsive-font(base(39), rem(25));
            }
        }
        
        &--1 {
            li {
                animation-delay: -20s;
            }
        } 
        
        span {
            display: inline-block;
            margin-left: 0;
            padding: 0 35px 0 25px;
            border-right: 2px solid white;
            font-weight: $regular;
        }
    }
}



@keyframes marquee {
    
     0% { left: 0; }
  100% { left: -100%; }
    
/*
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
*/
}