[class^="icon-"], [class*=" icon-"] {
  &:before {
      font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}
.icon-cookies:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-dropdown:before {
  content: "\e902";
}
