.o-scrollbar {
    position: fixed; z-index: 20;
	right: 30px;
	top: 30px;
    @extend %flex;
    @extend %flex-wrap;
    @extend %flex-column;
	width: 1px; height: calc(100vh - 60px);
	background-color: black;
	display: none;

    li {
        @extend %rel;
        flex: 1;
        width: 1px;
        margin-bottom: 4px;
        
        &:after {
            @extend %abs-pseudo;
            transition: all .5s ease-out;
            height: 0;
            left: 0; top: 0;
            width: 1px; 
            background-color: $c-green-01;
            opacity: 1;
        }
        
        &.is-actived {
            &:after {
               height: 100%;
            }
        }
    }
}
