.o-social {
    @extend %flex;
    @extend %flex-y;
    margin: 0 0 0 auto;
    
    .icon-facebook,
    .icon-twitter {
        @extend %flex;
        @extend %flex-xy;
        width: 50px; height: 50px;
        border: 1px solid $c-blue-01;
        border-radius: 50%;
        font-size: rem(16);
        
        &:hover {
            .desktop & {
                background-color: $c-blue-01h;
            }
        }
    }

    .icon-chat {
        font-size: rem(22);
    }
    
    .icons {
        @extend %flex;
        
        & > [class^="icon-"] {
            
            @media ( min-width: $smartphone_portrait + 1px ) {
                margin-left: 20px;
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	margin: 0 10px;
            }
        }
    }
    
    & > [class^="icon-"] {
        margin-left: 20px;
    }
}