.c-fleet1 {
    @extend %rel;
    padding-top: 110px;
    
    @media ( max-width: $base + px ) {
    	@include responsive-padding-top(base(110), rem(30));
    }
    
    @media ( max-width: $smartphone_portrait + px ) {
        padding-top: 0;
    }

    .o-cols {
        
        @media ( max-width: $smartphone_portrait + px ) {
            flex-direction: column-reverse;
        }
        
        &__item {
            &:nth-of-type(1) {
                width: grid(610, $base - 160 - 130 - 60);
                padding-top: 20px;
                padding-right: 30px;
                
                @media ( max-width: $tablet  - 1px ) {
                    width: 50%;
                    padding: {
                        top: 0;
                        bottom: 40px;
                    }
                }
                
                @media ( max-width: $smartphone_portrait + px ) {
                    width: 100%;
                }
            }
            
            // image

            &:nth-of-type(2) {
                //@extend %gray;
                width: grid(960, $base - 160 - 130 - 60);
                padding-left: 15px;
                
                @media ( max-width: $tablet  - 1px ) {
                    width: 50%;
                }
                
                @media ( max-width: $smartphone_portrait + px ) {
                    width: 100%;
                    padding: 0 0 30px 0;
                }
                
                &:after {
                    @media ( max-width: $smartphone_portrait + px ) {
                        left: -20px;
                        width: calc(100% + 40px);
                    }
                }
                
                img {
                    width: 100%;
                    
                    @media ( min-width: $smartphone_portrait + 1px )  and ( max-width: $tablet - 1px ) {
                        height: 100%;
                        object-fit: cover;                    	
                    }
                    
                    @media ( max-width: $smartphone_portrait + px ) {
                        width: calc(100% + 40px);
                        max-width: none;
                        margin: 0 -20px;
                    }
                }
            }
        }
    }
    
    .o-header {
        margin-bottom: 3em;
        
        @media ( min-width: $smartphone_portrait + 1px ) and ( max-width: $tablet - 1px ) {
            padding-left: tablet(130);
        }
        
        &--desktop {
            @media ( max-width: $smartphone_portrait + px ) {
            	display: none;
            }            
        }
        
        &--mobile {
            margin-bottom: 1em;

            @media ( min-width: $smartphone_portrait + 1px ) {
            	display: none;
            }
        }
    }
    
    .o-section {
        @media ( max-width: $tablet  - 1px ) {
            position: absolute;
            margin-top: 6px;
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
            display: none;
        }
    }
    
    .o-wrap {
        padding: {
            left: 160px;
            right: 130px;
            top: 80px;
        }

        @media ( max-width: $base + px ) {
        	@include responsive-padding-left(base(160), rem(0));
        	@include responsive-padding-right(base(130), rem(0));
        	@include responsive-padding-top(base(80), rem(0));
        }
        
        @media ( max-width: $tablet - 1px ) {
        	padding: {
            	top: 0;
                left: 0;
                right: 0;
            }
        }
    }
}