.c-topbar {
    @include z-index(topbar);
    @extend %abs;
    //@extend %anim;
    left: 0; bottom: 1px;
    width: 100%;
    height: 110px;
    background-color: $c-gray-01;
    
    //transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    //transform: translate3d(0, 100%, 0);
    //opacity: 0;
    
    &.is-green {
        background-color: $c-green-01;
        color: black;        
    }
    
    &.is-lightgray {
        background-color: $c-gray-02;
    }
    
    @media ( max-width: $base + px ) {
    	@include responsive-height(base(110), rem(100));
    }
    
    @media ( max-width: $tablet - 1px ) {
        position: fixed;
        bottom: auto;
        top: 0;
    	border-bottom: none;
    }
    
    &.is-fixed {
        position: fixed;
        left: 0;
        top: 0;
    }
    
    .is-loaded & {
        //transform: translate3d(0, 0, 0);
        //opacity: 1;
    }
    
    .c-nav {
        @media ( min-width: $menu + 1px ) {
	        margin: 0 0 0 auto;
        }
    }
    
    .o-logo {
        display: inline-block;
        
        .desktop {
            display: none;
            width: 362px;
            //height: 49px;
            
            @media ( max-width: $base + px ) {
            	@include responsive-width(base(362), rem(100));
            }
            
            @media ( min-width: $tablet + px ) {
            	display: block;
            }
            
            &--black {
                display: none;
                
                .is-green & {
                    display: block;
                }
            }
        }
        
        .mobile {
            width: 80px;
            //height: 32px;

            &--white {
                @media ( min-width: $tablet + px ) {
                	display: none;
                }
            }
            
            &--black {
                display: none;
                
                .is-green & {
                    display: block;
                }
            }
        }
    }
    
    &.is-green {
        .o-logo {
            .desktop {
                &--black {
                    @media ( min-width: $tablet + px ) {
                        display: block;
                    }
                }
                
                &--white {
                    display: none;
                }
            }


            .mobile {
                &--black {
                    @media ( max-width: $tablet - 1px ) {
                        display: block;
                    }
                }
                
                &--white {
                    display: none;
                }
            }
        }
    }
    
    .o-container {
        @extend %flex;
        @extend %flex-y;
        height: 100%;
    }
}
