<% include ./src/includes/head %>
<body>
<noscript>Your browser does not support JavaScript!</noscript>

    <% include ./src/includes/loader %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/hero %>


    <div class="o-right" id="vision">
        <% include ./src/includes/vision-1 %>
        
        <div class="o-right__page">
            <% include ./src/includes/vision-2 %>
        </div>
    </div>
    
    <% include ./src/includes/parallax %>
    <% include ./src/includes/partnership %>    
    <% include ./src/includes/usps %>
    <% include ./src/includes/team %>
    
    <div class="o-right" id="esg">
        <% include ./src/includes/esg-1 %>
        
        <div class="o-right__page">
            <% include ./src/includes/esg-2 %>
        </div>
    </div>

    <% include ./src/includes/value-0 %>
    
    <div class="o-right" id="value">
        <% include ./src/includes/value-1 %>
    
        <div class="o-right__page">
            <% include ./src/includes/value-2 %>
        </div>
    </div>

    <% include ./src/includes/fleet-1 %>
    <% include ./src/includes/fleet-2 %>

    <div class="c-servicescontainer" id="servicescontainer">
        
        <div class="c-servicescontainer__viewport js-viewport">
            <div class="c-servicescontainer__item">
                <% include ./src/includes/services %>
            </div>
            
            <div class="c-servicescontainer__item">
                <% include ./src/includes/details %>
            </div>
        </div>
    </div>
    
    <% include ./src/includes/membership %>
    <% include ./src/includes/contact %>
    <% include ./src/includes/careers %>
    


    <% include ./src/includes/footer %>
    

</body>
</html>
